n8n/workflows/chatbot_unlp v3.json
{
  "name": "chatbot_unlp",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "docs",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ca66486b-db90-46d0-8ccf-a1a1a1c79e14",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        352,
        80
      ],
      "credentials": {
        "qdrantApi": {
          "id": "bUZvALY5MsQ249dt",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "204ac830-a762-4c85-ad40-7978e74e3f62",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        304,
        272
      ],
      "credentials": {
        "ollamaApi": {
          "id": "UeuTOyxeOxTuzIXj",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document_id",
                "value": "={{ $('Webhook1').first().json.body.document_id }}"
              }
            ]
          }
        }
      },
      "id": "bc0e77e9-b3fc-44d5-9983-e82cb8a96a2a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "17f0c8e0-cd8b-48b0-9570-6643e158a2aa",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        464
      ]
    },
    {
      "parameters": {
        "formTitle": "Add documents to semantic database",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Add PDF file",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        48,
        288
      ],
      "id": "13b036fb-2aed-46b7-90fe-132322c48acb",
      "name": "On form submission1",
      "webhookId": "fa087950-57c2-44df-9542-e91970ad8fbe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-unlp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "459d362e-f791-4052-8a11-90c6609eb24c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        96
      ],
      "webhookId": "chatbot-unlp"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres el Asistente Virtual de la Facultad de Informática UNLP. Tu misión es proporcionar información exacta y actualizada utilizando exclusivamente las herramientas disponibles.\n\n🛠️ HERRAMIENTAS\n\"consultar_calendario\": Úsala para obtener fechas de exámenes finales, trámites académicos, feriados y días no laborables.\n\n\"consultar_materias\": ÚSALA SIEMPRE que se mencione una materia. Recibirás el catálogo completo con el formato: ID: [número] | Materia: [nombre] | Inicio: [información]. No requiere parámetros.\n\n\"consultar_novedades\": Úsala para conocer las últimas noticias, registros de aspirantes (tutores/adscriptos), talleres y eventos recientes del timeline de la Facultad.\n\n\"consultar_planes\": Úsala para obtener la lista de carreras, planes de estudio vigentes y sus códigos correspondientes. No requiere parámetros.\n\n🧠 LÓGICA DE PROCESAMIENTO (IMPORTANTE)\nBúsqueda en Materias: No asumas que una materia no existe. Busca manualmente en el texto devuelto por la herramienta.\n\nEjemplo: Si buscan \"Matemática 1\", verifica la lista, confirma su ID (62) y comunica su fecha de inicio exacta.\n\nRedictados: Si el usuario menciona \"redictado\", busca específicamente las entradas que contienen esa palabra en el nombre.\n\nNovedades: Lee los resúmenes para dar respuestas contextualizadas sobre convocatorias activas o fechas límite de inscripción. Prioriza eventos futuros sobre noticias pasadas.\n\nPlanes de Estudio: Si el usuario pregunta qué carreras hay o pide información sobre un plan, usa esta herramienta y presenta la lista de forma clara y organizada.\n\n🧠 REGLAS DE RESPUESTA\nMateria encontrada: Responde siempre confirmando su existencia: \"Sí, la materia [Nombre] existe...\" y presenta los datos (ID, Nombre, Inicio) en una tabla Markdown clara.\n\nMateria o Plan no encontrado: Si no hay coincidencia exacta, di: \"No encontré ese/a [Materia/Plan] exacto, pero estos son los más parecidos en el catálogo:\" y ofrece las 3 opciones más similares.\n\nInhibición de errores: NUNCA afirmes que una materia o carrera no existe si parte de su nombre aparece en los datos recibidos de las herramientas.\n\nFormato de salida: Utiliza tablas Markdown para datos estructurados y listas para enumerar. Mantén un lenguaje amigable y profesional, optimizado para WhatsApp."
        }
      },
      "id": "ae5e13dd-ad58-4337-a56c-7166bd5c8d84",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1264,
        96
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "id": "8b6fbd8c-b528-4547-840f-1e42874e0009",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ],
      "credentials": {
        "groqApi": {
          "id": "sTY8ZwIQ1O2xaknx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this for answering questiong about the study plan for the dregee of system analyst",
        "qdrantCollection": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1344,
        352
      ],
      "id": "6fa7eb9c-05bf-44c2-8363-7807d5ad721a",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "bUZvALY5MsQ249dt",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548e8b54-6306-492c-a9b6-8be0f66a4209",
              "name": "answer",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        96
      ],
      "id": "a7b805e6-a369-45ba-ae86-fa43e7a78e1f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## RAG Chatbot\n\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 576,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        0
      ],
      "typeVersion": 1,
      "id": "ff7b71d6-41c8-4bc9-8e87-42fac9496e90",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## PDF Ingestion Process\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 832,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -256
      ],
      "typeVersion": 1,
      "id": "4daca3f4-fd21-4eab-9a68-e26dd2bd73ed",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        64
      ],
      "id": "2c68520f-ff31-4f54-a29c-497f8124c1ac",
      "name": "Webhook1",
      "webhookId": "e7771068-7e61-4897-b107-4018a2418a61"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-document",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        -144
      ],
      "id": "52a2e13f-2d0c-43a4-8ef9-c3bd8c4c5279",
      "name": "Webhook2",
      "webhookId": "5442fc88-6132-4aa4-bc09-cd8780a6fb4d"
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "docs",
          "mode": "list",
          "cachedResultName": "docs"
        },
        "points": "=",
        "filter": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.document_id\",\n      \"match\": {\n        \"value\": \"{{ $json.body.document_id.toString() }}\"\n      }\n    }\n  ]\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        352,
        -144
      ],
      "id": "b0d7a703-e84e-4b31-8fac-a205aab96d37",
      "name": "Delete Points",
      "credentials": {
        "qdrantRestApi": {
          "id": "jm17C0dIBeUmuSUY",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1168,
        -304
      ],
      "id": "9630d7dd-4472-475b-8a02-72804dc160d8",
      "name": "When chat message received",
      "webhookId": "3c1683bf-85d1-4881-8234-5398b66acd25"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nonratably-lushiest-alexandra.ngrok-free.dev/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ $json.chatInput }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        -304
      ],
      "id": "de5d2389-3d3f-4b25-8e0d-4fe306fdeed4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "description": "Útil para consultar fechas de exámenes, inscripciones, cursadas y feriados. Devuelve el calendario académico oficial.",
        "jsCode": "// 1. Hacemos la petición a la API de la UNLP\nconst response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://gestionapp.info.unlp.edu.ar/api/CALENDARIO_ACADEMICO',\n    json: true\n});\n\n// 2. Función para limpiar HTML (quita tags y espacios extra)\nfunction cleanHtml(text) {\n    if (!text) return '';\n    // Reemplaza cualquier tag HTML (<...>) por un salto de línea\n    let clean = text.replace(/<[^>]+>/g, '\\n');\n    // Reemplaza múltiples espacios/saltos por uno solo\n    clean = clean.replace(/\\s+/g, ' ').trim();\n    return clean;\n}\n\n// 3. Procesamos los datos para reducir tamaño\nconst cleanData = response.map(item => {\n    return {\n        calendario: item.nombre,\n        contenido: cleanHtml(item.contenido)\n    };\n});\n\n// 4. 🔥 CORRECCIÓN: Convertimos el objeto a TEXTO (String) para que el Agente lo entienda\nreturn JSON.stringify(cleanData);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1648,
        320
      ],
      "id": "4dd3191d-075a-42e9-9687-f3196786ccdc",
      "name": "consultar_calendario"
    },
    {
      "parameters": {
        "description": "Obtiene el listado de todas las materias disponibles.",
        "jsCode": "// 1. LA HERRAMIENTA HACE SU PROPIA PETICIÓN (Autónoma)\n// Esto asegura que los datos siempre estén disponibles cuando el Agente llame a la Tool\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://gestiondocente.info.unlp.edu.ar/api/v2/materias.json',\n  json: true\n});\n\n// 2. EXTRAER EL ARRAY DE MATERIAS DEL RESULTADO\nconst materias = response._embedded?.materias || [];\n\n// 3. EXTRAER SOLO LOS NOMBRES, LIMPIAR Y ELIMINAR DUPLICADOS\nconst nombresUnicos = [...new Set(materias.map(m => m.nombre ? m.nombre.trim() : \"\"))].filter(n => n !== \"\");\n\n// 4. ORDENAR ALFABÉTICAMENTE\nnombresUnicos.sort((a, b) => a.localeCompare(b));\n\n// 5. VALIDACIÓN\nif (nombresUnicos.length === 0) {\n    return \"No se pudo obtener la lista de materias en este momento.\";\n}\n\n// 6. RETORNAR EL STRING PLANO\n// El Agente recibirá esto y Groq decidirá qué mostrar según la pregunta del usuario\nreturn \"LISTADO COMPLETO DE MATERIAS:\\n\" + nombresUnicos.join('\\n');"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1808,
        320
      ],
      "id": "237ae8bc-6da8-4980-8dcc-4f62f5b2774e",
      "name": "consultar_materias"
    },
    {
      "parameters": {
        "description": "Úsala para obtener las noticias más recientes, fechas de inscripciones, elecciones, talleres y avisos generales de la Facultad de Informática. No requiere parámetros.",
        "jsCode": "// 1. PETICIÓN AUTÓNOMA AL ENDPOINT DEL TIMELINE\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://gestiondocente.info.unlp.edu.ar/api/v2/timeline.json',\n  json: true\n});\n\n// 2. EXTRAER EL CONTENIDO RELEVANTE\nconst items = response._embedded?.content || [];\n\n// 3. PROCESAR Y LIMPIAR LAS NOTICIAS\nconst noticiasProcesadas = items.map(item => {\n    const data = item._embedded?.noticia;\n    if (!data) return null;\n\n    // Formatear la fecha a algo más legible\n    const fechaLimpia = data.fecha ? data.fecha.split('T')[0] : \"Fecha no disponible\";\n    \n    // Limpieza profunda de HTML del cuerpo de la noticia\n    const cuerpoLimpio = data.cuerpo\n        .replace(/<[^>]*>?/gm, ' ') // Quita etiquetas HTML\n        .replace(/&bull;/g, '•')     // Convierte viñetas\n        .replace(/&nbsp;/g, ' ')    // Quita espacios HTML\n        .replace(/&aacute;/g, 'á').replace(/&eacute;/g, 'é').replace(/&iacute;/g, 'í').replace(/&oacute;/g, 'ó').replace(/&uacute;/g, 'ú')\n        .replace(/&ntilde;/g, 'ñ').replace(/&iquest;/g, '¿')\n        .replace(/\\s+/g, ' ')       // Quita espacios múltiples\n        .trim();\n\n    // Devolvemos un string compacto por cada noticia\n    return `[${fechaLimpia}] TITULO: ${data.titulo}\\nRESUMEN: ${cuerpoLimpio.substring(0, 300)}...`;\n}).filter(n => n !== null);\n\n// 4. VALIDACIÓN DE RESULTADOS\nif (noticiasProcesadas.length === 0) {\n    return \"No hay noticias o actividades recientes en el timeline en este momento.\";\n}\n\n// 5. RETORNAR EL STRING PLANO AL AGENTE (Limitado a las últimas 8 noticias para no saturar)\nreturn \"NOVEDADES Y ACTIVIDADES RECIENTES DE LA FACULTAD:\\n\\n\" + noticiasProcesadas.slice(0, 8).join('\\n\\n---\\n\\n');"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1936,
        320
      ],
      "id": "a12c813f-847e-487c-917c-e7b5aec8c04f",
      "name": "consultar_novedades"
    },
    {
      "parameters": {
        "description": "Úsala para obtener la lista de carreras y planes de estudio vigentes en la Facultad de Informática. No requiere parámetros.",
        "jsCode": "// 1. PETICIÓN AUTÓNOMA AL ENDPOINT DE PLANES\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://gestionapp.info.unlp.edu.ar/api/PLANES_ESTUDIOS',\n  json: true\n});\n\n// 2. VALIDAR Y EXTRAER LOS DATOS\n// Asumiendo que el endpoint devuelve un array directo o un objeto con una lista\nconst planes = Array.isArray(response) ? response : (response.planes || []);\n\n// 3. PROCESAR Y FORMATEAR LOS NOMBRES DE CARRERAS/PLANES\nconst listaPlanes = planes.map(p => {\n    const nombre = p.nombre || p.descripcion || \"Plan sin nombre\";\n    const codigo = p.codigo || p.id || \"\";\n    return `- ${nombre} ${codigo ? `(Código: ${codigo})` : \"\"}`;\n}).filter(n => n !== \"\");\n\n// 4. VALIDACIÓN DE RESULTADOS\nif (listaPlanes.length === 0) {\n    return \"Actualmente no hay información disponible sobre los planes de estudio.\";\n}\n\n// 5. RETORNAR EL STRING PLANO AL AGENTE\nreturn \"PLANES DE ESTUDIO Y CARRERAS DISPONIBLES:\\n\\n\" + listaPlanes.join('\\n');"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1632,
        464
      ],
      "id": "c7a55376-114a-40bd-94c8-686956e9c694",
      "name": "consultar_planes"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_calendario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_materias": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_novedades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_planes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d31bc3f6-e7e4-46b1-b0fb-36b1b62fe793",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c796073bc565a61b69e27843b6fabc6aa9581a23f99756ad5cbf3ecddb84759"
  },
  "id": "QMziyGMpsvdqcrcn",
  "tags": []
}